
  <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.js' charset='utf-8'></script>
  <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.5.7/js/sm.js' charset='utf-8'></script>
  <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.5.7/js/sm-extend.js' charset='utf-8'></script>

  <script src="/assets/js/app.js"></script>
  <!--
  <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.5.7/js/sm.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.5.7/js/??sm.min.js,sm-extend.min.js' charset='utf-8'></script>
  
  <script src="/assets/js/zepto.js"></script>
  <script src="/dist/js/sm.js"></script>
  <script src="/dist/js/sm-extend.js"></script>
  <script src="/assets/js/app.js"></script>
  -->