@media only screen and (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
	html {font-size: 17.0666666px;}
}
/**/
.zx1{z-index:1;}.zx2{z-index:2;}.zx0{z-index:0;}
.b{font-weight: bold;}
.f12{font-size: .6rem;}.f12i{font-size: .6rem !important;}.f13{font-size: .65rem;}.f14{font-size:.7rem;}.f15{font-size:.7.5rem;}.f15i{font-size:.75rem !important;}.f16{font-size:.8rem;}.f18{font-size:.9rem;}.f20{font-size:1rem;}.f24{font-size:1.2rem;}
.fblue{color: #0795ff;}.fff{color: #fff;}.ccc{color: #ccc;}.fgreen{color: #39ab29;}.fyellow{color: #fbc400;}
.db{display: block;}.dn{display: none;}
.abs{position: absolute;}.rel{position: relative;}
.lh2{line-height: 2;}
.w94p{width: 94%;}.w100p{width: 100%;}
.mt5{margin-top: .25rem;}.mt10{margin-top: .5rem;}.mt15{margin-top: .75rem;}.mt20{margin-top:1rem;}.mt35{margin-top: 1.75rem;}.mt40{margin-top: 2rem;}.mb10{margin-bottom: .5rem;}.mb20{margin-bottom: 1rem;}.ml0{margin-left: 0;}
.mb15{margin-bottom: .75rem;}.ml10{margin-left: .5rem;}.ml20{margin-left: 1rem;}.mt-100{margin-top: -5rem;}.mr10{margin-right:.5rem;}.mr15{margin-right: .75rem;}
.pl0{padding-left: 0;}.pb0{padding-bottom: 0;}.pl72{padding-left: 3.6rem;}.pt40{padding-top: 2rem;}.pb20{padding-bottom: 1rem;}.pt10{padding-top:.5rem;}.pb10{padding-bottom:.5rem;}.pb15{padding-bottom:.75rem;}.pb30{padding-bottom:1.5rem;}.p15{padding: .75rem;}.pt50{padding-top: 2.5rem;}.pt750{padding-top: 18.75rem;}
.b{font-weight: bold;}
.tc{text-align: center;}.tr{text-align: right;}.tl{text-align: left;}
.r0{right: 0;}.t0{top: 0;}.b0{bottom: 0;}.r10{right: .5rem;}
.o4{opacity: .4;}.o6{opacity: .6;}.o8{opacity: .8;}
.tvc{-webkit-box-align: center; -webkit-box-pack: center; display: -webkit-box; }
.justify {display: flex; 
  -webkit-box-align: center; -webkit-box-pack: justify; -webkit-justify-content: space-between;
}
.asc {align-self: center;}
.bl5yellow {border-left: .25rem solid #f9bb00; }
.bgfff {background-color: #fff;}
.bb1{position: relative;}
.bb1:after{content: '';position: absolute;left: 0;bottom: 0;right: auto;top: auto;height: 1px;width: 100%;background-color: #e1e1e1;display: block;z-index: 15;-webkit-transform-origin: 50% 100%;transform-origin: 50% 100%;}
.bl1{position: relative;}
.bl1:after{content: '';position: absolute;left: 0;bottom: 0;right: auto;top: auto;height: 100%;width: 1px;background-color: #e1e1e1;display: block;z-index: 15;-webkit-transform-origin:100% 50%;transform-origin:100% 50%;}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .bb1:after{transform:scaleY(0.5)}
  .bl1:after{transform:scaleX(0.5)}
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .bb1:after{transform:scaleY(0.33)}
  .bl1:after{transform:scaleX(0.33)}
}

.t-ell{flex-shrink: 1;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
/**/
.err {color: red !important;}
.err input, .err select{color: red !important;}
.err.item-inner:after {background-color: red;}
.err .item-err {position: absolute; bottom: -.75rem;font-size:.55rem;}

.card{border-radius: 0.2rem; }

.bar-tab {padding: 0 .5rem;  }
.bar-tab a{color:#fbc400; font-size: .7rem;}
.bar-tab .button {display: block; color:#100f4f; border-radius: 1.35rem; top: 0; height: 1.8rem;line-height: 1.8rem;font-size: .7rem;}


.modal-button {color: #0073bb}
label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox, 
label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox
{border: 1px solid #0795ff;background-color: transparent;}
label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox:after{
  background: #0795ff;border-radius: 50%;margin-top: -0.25rem;margin-left: -0.25rem;width: 0.5rem;height: 0.5rem;
}
.button.disabled.button-fill, .button.button-primary.disabled.button-fill, .button.button-success.disabled.button-fill, .button.button-danger.disabled.button-fill, .button.button-warning.disabled.button-fill {color:#100f4f; background-color: #fbb818; opacity: .4;}

/**/

.arr-down,.arr-up,.arr-down-g0{width: 0;height: 0;border:4px solid;display:inline-block;border-color: #fff transparent transparent transparent;}
.arr-up {border-color: transparent transparent #fff transparent;}

.ui-checkbox input{ display: inline-block; width: .9rem; height: .05rem; position: relative; overflow: visible; border: 0; background: transparent; -webkit-appearance: none; outline: 0; margin-right:.4rem; vertical-align: middle;}
.ui-checkbox input:before{content: ""; border:1px solid #999;width: .9rem;height: .9rem; border-radius: .1rem;display:block;background-color: #fff;margin-top: -.5rem;}
.ui-checkbox input:checked:before{border:1px solid #0073bb;}
.ui-checkbox input:checked:after{content: ""; width: .525rem;height: .525rem;display:block;background: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAMAAACeyVWkAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAk1BMVEX///94tdsJeL12tNqAud0Ac7sKeL6WxeNnrNakzecCdLxOntD8/f7r9Pq31+wGdr0/lsz1+vxhqNVXo9LI4fAtjMfw9/sPe79prdfS5vMRfMAkh8Xq8/mBut3e7fYcgsIbgsLb6/UDdbyq0OgwjcjG4PC92+32+v1Cl82z1esBdLvj8PiSw+IVf8F6tty11utdptSeemN0AAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAJlJREFUGNPFj1kSgkAMRIPaIDIKqGyCIu673v90NoVSI3MA+yPVeVVJOiJ/ltXrm3AA2AZ0AAy70B0BnhIZ63DiA0EoMsVMtXBuA1FMkwDpF2YLIC9qt+R2q4GrElhXjU+JndoUOZBknzHlAZutSLxj0H17IgwA/3A8sZ61OHHEUcKL+xP9yjPUrfNRdSd8GN8zfiqmni+ldW9IFgd70+BC6QAAAABJRU5ErkJggg==);    background-size: contain; position: absolute;left: .2rem;top: .2rem;margin-top: -.5rem;}
.label-switch input[type="checkbox"]:checked + .checkbox{  background-color: #0795ff;}
/**/

#page-route {background-color:#efefef; }
.route-searchbox {position:absolute; background-color: #fff; width: 100%;}
.list-block .item-content {padding-right: 0.75rem;}

.route-searchbox ~ .content {top:4.7rem;}
header.bar ~ .route-searchbox {top:2.2rem;}
header.bar ~ .route-searchbox ~ .content {top:7rem;}

.label-checked {background-color: #f1f1f1;}
.route-searchbox .shopbox {background-color: #061556;color: #fff; text-align:center;}
.route-searchbox .shopbox .shipimg {width: 1.25rem;height: 1rem; vertical-align: text-bottom;}
.route-searchbox .shopbox a {color: #fff;line-height: 2.2rem;font-size: .7rem;display: block;}
.route-searchbox .areabox {height: 2.6rem;font-size: .6rem;}
.route-searchbox .areabox .col-33 {padding: .25rem; position:relative;}
.route-searchbox .areabox .col-33:before {
content: ''; position: absolute; left: 0; top: 0; bottom: auto; right: auto; width: 1px; height: 100%; background-color: #e2e2e2; display: block; z-index: 15; transform-origin: 0% 50%;}
.route-searchbox .areabox .col-33:after{content: ''; position: absolute; left: 0; bottom: 0; right: auto; top: auto; height: 1px; width: 100%; background-color: #e2e2e2; display: block; z-index: 15; transform-origin: 50% 100%; }
 @media only screen and (-webkit-min-device-pixel-ratio: 2) {
.route-searchbox .areabox .col-33:before{transform: scaleX(0.5); }
.route-searchbox .areabox .col-33:after{transform: scaleY(0.5); }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
.route-searchbox .areabox .col-33:before{transform: scaleX(0.5); }
.route-searchbox .areabox .col-33:after{transform: scaleY(0.33); }
}

#page-route .bar-tab input[type='checkbox']:before{
  border-radius: 50%; background-color: transparent; border-color: #fff; content: '';width: .75rem;height: .75rem;
}
#page-route .bar-tab input[type='checkbox']:checked:before{
  border-radius: 50%; background-color: #febd11; border-color: #febd11;
}
#page-route .bar-tab input[type='checkbox']:checked:after{content: ""; width: .425rem; height: .3rem;left: .2rem; top: .28rem;
 background:url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAMCAMAAACz+6aNAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAh1BMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD////33A0zAAAAK3RSTlMAAYyJBKChCrOxAxLGwR3V0g8/v5Uq4tsYgLoROO3pJNklSfTwLfr1Qf1Opy9g+wAAAAFiS0dELLrdcasAAAAJcEhZcwAACxIAAAsSAdLdfvwAAABqSURBVAjXVc5XDoNADARQQ+ihhJ6lJwECzP3vx4IQ8vrH1rM1MhEvTcdDAcOEpXGwHbgeh6ePwOYQRnjFx5CkmXH0vED5PlcCqGqipkXXX9eShs/3h3G6AySNM/4Ly5SEdVM+kyRILcFgB8drB8OOR5alAAAAAElFTkSuQmCC');background-size: cover;}

.route-searchbox .areabox a{ color: #000;font-size: .7rem;display: block;}
.route-searchbox .areabox label {color: #666;font-size: .6rem;}
.route-searchbox .areabox .arr-down {border-color: #000 transparent transparent transparent;}
.route-searchbox .areabox .arr-up {border-color: transparent transparent #000 transparent;}

.list-block {margin-top: .5rem;}
.route-list > ul {margin-bottom: 0.375rem;}

.route-list a{color: inherit;}
.route-list.media-list .item-title, .route-list li.media-item .item-title {font-weight: normal;}
.route-list .item-content{padding-left: 0;padding-right: 0;}
.route-list .item-text{overflow: initial;height:auto;}
.route-list .item-media {padding-top: 0 !important;padding-bottom: 0 !important;}
.route-list .tag{background-color: #bdbdbd; font-size: .55rem; border-radius: .1rem; color: #fff; line-height: 1;    box-sizing: content-box; height: .55rem;padding:.15rem;}

.route-list .item-media img{border-top-left-radius: 0.35rem; border-bottom-left-radius: 0.35rem;width: 6rem;}

.popup header{height: 3rem;}
.popup header .title {color: #000;line-height: 3rem;}
.popup header a{z-index: 2;}
.popup .left , .popup .right {line-height: 3rem; position: absolute;}
.popup .left {left: .875rem;}.popup .right {right: .875rem;}

.popup .list-block{margin-top: 0;}

.popup-ships,.popup-portSelect,.popup-cportSelect,.popup-monthSelect {background-color:#f8f8f8;}
.popup-ships .list-block ul,.popup-portSelect .list-block ul,.popup-cportSelect .list-block ul,.popup-monthSelect .list-block ul{background-color: #f8f8f8;}

label.item-disabled {color: #999 !important;}
label.item-disabled .fblue{color: #999;}
label.item-disabled img{ opacity:.2}

.popup-ships .ships-tit-img {width: 1.625rem;}
.popup-ships .item-media {align-self: flex-start;}.popup-ships .asc {align-self: center;}
.popup-ships .item-media img{width: 3.5rem;height: 3.5rem;}


.popup-ships label.label-checkbox i.icon-form-checkbox,
.popup-portSelect label.label-checkbox i.icon-form-checkbox,
.popup-cportSelect label.label-checkbox i.icon-form-checkbox,
.popup-monthSelect label.label-checkbox i.icon-form-checkbox{border: 0;}
.popup-ships label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox, 
.popup-ships label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox ,
.popup-portSelect label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox, 
.popup-portSelect label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox ,
.popup-cportSelect label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox, 
.popup-cportSelect label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox ,
.popup-monthSelect label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox, 
.popup-monthSelect label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox {background-color:transparent;border:0}

.popup-ships label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox:after, 
.popup-ships label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox:after ,
.popup-portSelect label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox:after, 
.popup-portSelect label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox:after ,
.popup-cportSelect label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox:after, 
.popup-cportSelect label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox:after ,
.popup-monthSelect label.label-checkbox input[type="checkbox"]:checked + .item-media i.icon-form-checkbox:after, 
.popup-monthSelect label.label-checkbox input[type="radio"]:checked + .item-media i.icon-form-checkbox:after {background:url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAUCAMAAACpgK3LAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAASFBMVEUHlf////8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf8Hlf////+27rc7AAAAFnRSTlMAAA9bxXT+L8ZpUApnvy5zwBn3eHwzyC/7VwAAAAFiS0dEAf8CLd4AAAAJcEhZcwAACxIAAAsSAdLdfvwAAAB6SURBVCjPddBZEoQgDATQBhUdnc1lcv+jShDGkAr9+6orC6DicnznHBroexpaGI3CaKOfoj3sZjYTi1n4N8Z5qfC2iM/wkirM4R2IhEqLzYGEVsYzhdaWtv0UVXadklVbvpP1u2orT2Dd2GBgUjYTsV9mI45kDcQPGk+RLAiEvYW7MwAAAABJRU5ErkJggg==');background-size: 0.7rem 0.5rem;width: 0.6rem;height: 0.45rem;}

.popup-ships .item-text{color: #999;}

.popup-portSelect .icon-location {width: .8rem;height: .975rem;}
.popup-cportSelect .item-inner{width: 50%;} 
.popup-cportSelect .item-inner + .item-inner {width: 100%;}

#page-route-detail .route-detail-info {height: 3.5rem; overflow: hidden; }
#page-route-detail .route-detail-info-more{background-color: #fff; position: absolute;right:.75rem;bottom:.25rem;}

#page-route-detail .content-block {margin: 1.25rem 0;}
#page-route-detail .payBtn { height: 1.5rem;line-height: 1.5rem; border-radius: .75rem;} 

.route-detail-tit{text-align: center; position: relative; margin-top: .5rem;}
.route-detail-tit:after{ content: ''; position: absolute; left: 0; top: 50%; right: auto; height: 1px; width: 100%; background-color: #e1e1e1; display: block; -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%;}
.route-detail-tit div{display: inline-block;background-color: #fff;margin:0 auto;position: relative;z-index: 1;padding: 0 .5rem;}

.route-detail-tit2 {color: #8e91a7;}
.route-detail-tit2:after{ content: ''; position: absolute; left: 0; top: 50%; right: auto; height: 1px; width: 100%; background-color: #6a739a; display: block; -webkit-transform-origin: 50% 100%; transform-origin: 50% 100%;}
.route-detail-tit2 div{display: inline-block;background-color: #061556;margin:0 auto;position: relative;z-index: 1;padding: 0 .5rem;}

.route-detail-sh-img {background: url(/assets/img/hx-sh.jpg) no-repeat; background-size: cover;width:100%;height: 299px;height:calc(100vw * 0.79736842); }
.day-by-day .line {border-top: 2px dotted #ccc; width:calc(100vw - 2.5rem); top: 1.5rem;}
.day-by-day .item-media {display: block; text-align: center;}
.day-by-day .circle{ width: 2rem;height: 2rem;color: #021257;position: relative;margin-bottom: .5rem; background-color: #fff;line-height: 2rem;}
.day-by-day .circle:before{ 
content: '';display: -webkit-box; 
width: 1.8rem;height: 1.8rem; border:1px solid #021257; border-radius: 50%;  position:absolute;left: 0;top: 0;}

.route-detail-card a {color:inherit;}
.route-detail-card .card-header {font-size: .8rem;}
.route-detail-card .card-footer {background-color: #f5f5f5; border-bottom-left-radius: .2rem; border-bottom-right-radius: .2rem; display: block;}

.route-detail-bg {background-repeat:no-repeat; background-size: cover;
	width:100%;height:7rem;height:calc(100vw * 0.37333333);  border-radius: 0 0 0.2rem 0.2rem;}

.route-detail-p1 {background-image:url(/assets/img/hx-p1.jpg);}
.route-detail-p2 {background-image:url(/assets/img/hx-p2.jpg);}
.route-detail-p3 {background-image:url(/assets/img/hx-p3.jpg);}
.route-detail-p4 {background-image:url(/assets/img/hx-p4.jpg);}
.route-detail-p5 {background-image:url(/assets/img/hx-p6.jpg);}
.route-detail-p6 {background-image:url(/assets/img/hx-p7.jpg);}
.route-detail-p7 {background-image:url(/assets/img/hx-p8.jpg);}
.route-detail-p8 {background-image:url(/assets/img/hx-p9.jpg);}

.route-detail-p1 .card-content-inner,.route-detail-p2 .card-content-inner,
.route-detail-p3 .card-content-inner,.route-detail-p4 .card-content-inner {height: 146px;height:calc(100vw * 0.38997214);}
.route-detail-p5 .card-content-inner,.route-detail-p6 .card-content-inner, 
.route-detail-p7 .card-content-inner,.route-detail-p8 .card-content-inner {height: 147px;height:calc(100vw * 0.39275766);}

.route-detail-shipdetail {background:url(/assets/img/hx-p5.jpg) center top no-repeat; background-size: cover; position: relative;
height: 446px;height: calc(100vw * 1.18933333);}
.route-detail-shipdetail-footer {position: absolute; bottom: 0;left: 0; width: 100%}
.route-detail-shipdetail-footer > div {display: inline-block;margin: 0 .5rem;}
.route-detail-travel .card-header {display: block;background-color: #f0f0f0}
.route-detail-travel .card-footer {display: block;background-color: #f0f0f0;padding: 1rem;}
.route-detail-travel .card-footer-bg{background:url(/assets/img/route-travel-bottom.png) center top repeat;height: 4px;}

.route-detail-travel-list .line {width: 0;height: 100%;border-left: 2px dotted #ccc; position: absolute; left: 3.45rem;}
.route-detail-travel-list .item-media{font-size: .7rem;}
.route-detail-travel-list .pointbox{ align-self: flex-start; padding-top: .9rem !important;margin-left: 0.75rem;}
.route-detail-travel-list .point{border: 1px solid #021257;width: .4rem;height: .4rem;border-radius: 50%; background-color: #fff;}
.route-detail-travel-list .item-title {font-size: .8rem;}
.route-detail-travel-list .item-after{font-size: .6rem;}
.roue-detail-qa ul{background-color: transparent;color: #fff;}
.roue-detail-qa ul:before, .roue-detail-qa ul:after{height: 0;}
.roue-detail-qa .item-inner:after{height: 0;}
.roue-detail-qa  .item-after{color: #505b88;}

.route-detail-card select {width: 2.2rem; padding-left: .5rem;margin-right: -.5rem;}
.route-detail-card select:disabled {color: #ccc;}
.route-detail-card .arr-down {border-top-color: #000;}
.route-detail-card .list-block-room .item-inner {border:1px dashed #d2d2d2;border-radius: .15rem;padding: 0;font-size:.6rem; padding-left: 1rem;padding-right: 1rem; margin-bottom:.5rem;}
.route-detail-card .list-block-room .item-inner:after{height: 0}
.route-detail-card .list-block-room .item-media{padding-top: 0;padding-bottom: 0;}
.route-detail-card .list-block-room .del img{width: .75rem;}
.route-detail-card .addRoom {color: #0795ff ;}
.route-detail-card .addRoom img{width: 1.025rem; vertical-align: middle;}
.route-detail-card .imgphotos {background:url(/assets/img/imgphotos.png); background-size:cover;width:.75rem;height:.575rem;right: .5rem;bottom: 1rem; position: absolute;}

.navBarDetail{position: fixed;background-color: rgba(16,11,80,.95); bottom: 3rem; width: 100%;z-index: 20;}
.navBarDetail .content-block{margin:.75rem 0;}
#page-route-room .bar-tab .arr {width: .85rem; transform: rotateZ(180deg);}
#page-route-room .bar-tab .r180 .arr { transform: rotateZ(0deg);}
#page-route-room .route-detail-bg {border-radius: 0;}

#page-route-room .db .item-inner{display: block; overflow: inherit; margin-bottom: .8rem; padding-top: 0;}
#page-route-room .list-block ul {padding:.5rem 0}

.room-photoModal {width: 16.35rem; margin-left:-8.175rem; margin-top:-6rem !important;}
.room-photoModal .swiper-container {padding-bottom:0; border:2px solid #fff;}
.room-photoModal .swiper-pagination{bottom: 0;}
.room-photoModal .modal-inner{padding: 0;}
.room-photoModal .swiper-pagination-bullet {background: rgba(255,255,255,.4);opacity: 1;}
.room-photoModal .swiper-pagination-bullet-active{background: #fff;}

.room-memberModal {width: 16.35rem; margin-left:-8.175rem;}
.room-memberModal .modal-inner{padding: 0; background-color: #fff;}
.room-memberModal .modal-title {height: 5.5rem; line-height: 5.5rem; font-size: .9rem;color: #fff; background-color: #061556; border-top-left-radius: .35rem; border-top-right-radius: .35rem;}
.room-memberModal .modal-text{padding: 0.75rem; text-align: left;}
.room-memberModal .modal-text input {border: 0; font-size: .7rem; height: 1.5rem; display: block; margin-bottom: .25rem;}
.room-memberModal .btns {padding: .5rem .75rem;}
.room-memberModal .btns .button {display: block;color: #100f4f;border-radius: 1.35rem;height: 1.8rem;line-height: 1.8rem;}

.route-room-select-card .card-content-inner{padding-top: 0;padding-bottom: 0;}
.route-room-select-card .item-content{padding-left: 0;padding-right: 0;}
.route-room-select-card .card-header .delRoom img{width: .75rem;}
.route-room-select-card .card-tab-bar > div, 
.route-room-select-card .card-tab-bar > a {display: block;height:2.5rem;line-height:2.5rem;}
.route-room-select-card .card-tab-bar .arrdown{width: 0.525rem;vertical-align: middle; margin-top: -.1rem;}

#page-route-room-select > .content {padding-bottom: 3rem;}
#page-route-room-select-end {background-color: #efefef;}
#page-route-room-select-end .soldimg {width: 3.55rem; height:2.75rem;fill:#fbba2b;}
#page-route-room-select-end .button-success {height: 2.35rem;line-height: 2.35rem;border-radius: 1.175rem; }

#page-order-booking .line_background ,
#page-order-contact .line_background {width: 76%;top: 37.5%;left: 2.4rem;}

#page-order-booking .card, .popup-customer .card{margin:.75rem;}
#page-order-booking .list-block {margin-bottom:0.75rem;}

#page-order-booking .db .item-inner{display: block; overflow: inherit; margin-bottom: .8rem; padding-top: 0;}
#page-order-booking .list-block ul {padding:.5rem 0}

.popup-customer{background-color: #061556}
.popup-customer .content-block-title {margin-top: 0;background-color: #f5f5f5; height: 4rem; line-height: 4rem; margin-left: 0; margin-right: 0;padding-left: 1rem;padding-right: 1rem; border-top-left-radius: .2rem; border-top-right-radius: .2rem;}
.popup-customer .db .item-inner{display: block;}
.popup-customer input,.popup-customer select{padding-left: 0  !important;}
.popup-customer .list-block .item-title.label {width: 100%;}
.popup-customer .db .item-inner{display: block; overflow: inherit; margin-bottom: .8rem; padding-top: 0;}
.popup-customer .list-block ul {padding:.5rem 0}
.popup-customer .button {display: block;color: #100f4f;border-radius: 1.35rem;height: 1.8rem;line-height: 1.8rem;}

#page-order-contact .list-block .item-title.label {width: 100%;}
#page-order-contact .db .item-inner{display: block; overflow: inherit; margin-bottom: .8rem; padding-top: 0;}
#page-order-contact .list-block ul {padding:.5rem 0}


#page-order-confirmation .no-border .item-inner:after{height: 0;}
#page-order-confirmation .item-content.db .item-inner{display: block;}
#page-order-confirmation .inside-ul {padding-left: 0;}
#page-order-confirmation .inside-ul .item-content{padding-left: 0;padding-right: 0;}
#page-order-confirmation .item-media{width: 3rem;}
#page-order-confirmation .item-link .item-inner {background-position: 97% .6rem;background-image: url("/assets/img/list-chevron-down.png");}
#page-order-confirmation .item-link .item-inner.open {background-image: url("/assets/img/list-chevron-up.png");}

#page-order-confirmation .no-link .item-inner {background-image: none;}
#page-order-confirmation .dl{margin: 0.5rem}

#page-order-pay .passenger-ticket-contract .card-content{ padding:1.25rem .75rem;}
#page-order-pay .button-pay {  height: 1.8rem;line-height: 1.8rem;border-radius: .9rem;padding: 0 1rem;display: inline-block;}
#page-order-pay .icon-right {fill:#fbb818; width: 1rem;height: 1rem;display: inline-block; margin-right: .5rem;}

#page-shorex .imglist {line-height: 0;font-size: 0;}
#page-shorex .shorex {width: 50%;height: 9.375rem;display: inline-block; background-position: center top; background-size: cover; color: #fff; text-align: center; font-size: .6rem; line-height: 1.5; position: relative;}

#page-shorex .shorex1 {background-image: url(/assets/img/shorex1.jpg)}
#page-shorex .shorex2 {background-image: url(/assets/img/shorex2.jpg)}
#page-shorex .shorex3 {background-image: url(/assets/img/shorex3.jpg)}
#page-shorex .shorex4 {background-image: url(/assets/img/shorex4.jpg)}
#page-shorex .shorex5 {background-image: url(/assets/img/shorex5.jpg)}
#page-shorex .shorex6 {background-image: url(/assets/img/shorex6.jpg)}
#page-shorex .shorex7 {background-image: url(/assets/img/shorex7.jpg)}
#page-shorex .shorex8 {background-image: url(/assets/img/shorex8.jpg)}

.order-header {position: absolute;left: 0;top: 0;z-index: 22; background-color:#061556;width: 100%; padding-bottom: .5rem;}
header.bar ~ .order-header {top:2.2rem;}
.order-header .content-block {margin-bottom: .5rem;}
.order-header + .content  {margin-top: 5.5rem;}
#booking-timer {color: #fbc400; z-index: 999; visibility: visible; position: relative;}

#page-shorex-citylist .cityimg {background-position: center center; background-size: cover; height: 9.2rem;display: block;color: #fff; text-align: center;}
#page-shorex-citylist .city1 {background-image: url(/assets/img/city1.jpg)}
#page-shorex-citylist .city2 {background-image: url(/assets/img/city2.jpg)}
#page-shorex-citylist .city3 {background-image: url(/assets/img/city3.jpg)}
#page-shorex-citylist .button {display: inline-block;}
#page-shorex-citylist .inset {margin-top: .75rem;}
#page-shorex-citylist .inset ul {margin-bottom: .75rem;}
#page-shorex-citylist .button { border-radius: 1.35rem;}

#page-shorex-citydetail .city1bg {background:url(/assets/img/citydetail.jpg); background-size: cover; width: 100%; height: 12.425rem; margin-bottom: -2.1rem;}
#page-shorex-citydetail .shorex-citydetail-link {color: inherit;}

#page-shorex-citydetail .card-content-inner,#page-shorex-shorexdetail .card-content-inner {padding-top: 0;}
#page-shorex-citydetail .level,
#page-shorex-shorexdetail .level {display: inline-block; width: 0.675rem;height: 0.675rem;fill:#fcbc31;vertical-align:text-bottom;}

#page-shorex-shorexdetail .shorexdetailbg {background:url(/assets/img/shorexdetail.jpg); background-size: cover; width: 100%; height: 12.425rem; margin-bottom: -2.1rem;}


.shorex-shorexdetail-list {position: relative;}
.shorex-shorexdetail-list ul {background-color: transparent; color: #fff;}
.shorex-shorexdetail-list ul:before {height: 0}
.shorex-shorexdetail-list ul:after {height: 0}
.shorex-shorexdetail-list .item-content {padding-left: .4rem;}
.shorex-shorexdetail-list .item-inner {padding-right: 0; }
.shorex-shorexdetail-list .item-inner:after {height: 0}
.shorex-shorexdetail-list .pointbox{ align-self: flex-start; padding-top: .8rem !important;}
.shorex-shorexdetail-list .point{border: 1px solid #f9bb00;width: .6rem;height: .6rem;border-radius: 50%; background-color: #061556;}
.shorex-shorexdetail-list .line {width: 0;height: 100%;border-left: 1px dotted #373f6c; position: absolute; left:.67rem;}
.shorex-shorexdetail-list .card{margin-left: 0;margin-right: 0;margin-bottom: 0;color: #666;}
#page-shorex-shorexdetail .content-block{margin:1.75rem 0 1rem;}

.shorex-shorexdetail-list .img img{width: 100%; border-top-left-radius: 0.2rem;border-top-right-radius: 0.2rem;}
.shorex-shorexdetail-list .tip{border: 1px solid #fbb818;color: #fbb818;height: 1.35rem;line-height: 1.35rem; display: inline-block; border-radius: .675rem;padding: 0 .5rem;margin-right: .3rem;}

#page-onboard-list .onboard1bg {width: 100%;height: 25rem;background: url(/assets/img/onboard-1.jpg) center top no-repeat; background-size: contain ;}
#page-onboard-list .onboard-1 {height: 13.4rem; text-align: center;width: 100%;}
#page-onboard-list .onboard-1 .onboardpng{height: 13.4rem;}
#page-onboard-list .onboard-list .card-content,
#page-onboard-list .onboard-list .card-content-inner{height: 9.2rem;}
#page-onboard-list .onboard-list-p1 {width: 100%;height: 9.2rem;background: url(/assets/img/onboard-bg1.jpg); background-size: cover;}
#page-onboard-list .onboard-list .abs{width: 16.5rem;;}
#page-onboard-list .onboard-list .face {float: left; margin-right: .5rem;}
#page-onboard-list .onboard-list .faceimg{width: 2rem;height: 2rem;border-radius: 50%;}
#page-onboard-list .onboard-list-p2 {width: 100%;height: 9.2rem;background: url(/assets/img/onboard-bg2.jpg); background-size: cover;}
#page-onboard-list .onboard-list-p3 {width: 100%;height: 9.2rem;background: url(/assets/img/onboard-bg3.jpg); background-size: cover;}
#page-onboard-list .card-content {border-radius: .2rem;}

#page-onboard-facilities {background-color: #efefef;}
#page-onboard-facilities svg{width: 1.5rem;height: 1.5rem; opacity: .5; display: block; margin: 0 auto;}
#page-onboard-facilities td{/*border: 1px solid #ccc;*/text-align: center; font-size: .7rem; padding: .75rem; width: 50%;}
#page-onboard-facilities table{width: 100%;}
#page-onboard-facilities table a{color: inherit;}

#page-onboard-detail .onboardDetailbg{width: 100%;height: 13.05rem;background: url(/assets/img/onboarddetailbg.jpg) center top no-repeat; background-size: contain ;margin-bottom: -3.1rem;}
#page-onboard-detail .faceimg{width: 4rem;height: 4rem;border-radius: 50%;}


.onboard-detail-Modal {width: 16.35rem; margin-left:-8.175rem;}
.onboard-detail-Modal .modal-inner{padding: 0; background-color: #fff;}
.onboard-detail-Modal .modal-title {height: 7rem; border-top-left-radius: .35rem; border-top-right-radius: .35rem; overflow: hidden}
.onboard-detail-Modal .modal-title img{height: 7rem;width: 100%; }

.onboard-detail-Modal .modal-text{padding: 0.75rem; text-align: left;}
.onboard-detail-Modal .modal-text input {border: 0; font-size: .7rem; height: 1.5rem; display: block; margin-bottom: .25rem;}
.onboard-detail-Modal .btns {padding: .5rem .75rem;}
.onboard-detail-Modal .btns .button {display: block;color: #100f4f;border-radius: 1.35rem;height: 1.8rem;line-height: 1.8rem;}



