@charset "utf-8";
.checkin_circle_div {
  width: 6rem;
  height :6rem;
  margin:auto;
  border-radius: 50%;
  background-color: #3b68b6;
  border: 1px solid #678ac7;
}
.checkin_smallimg {
  height: 50%;
  margin-top: 25%;
}
.checkin_flow_img {
  width: 25%;
  position: relative;
  z-index: 100;
}
.checkin_card_img {
  width: 18%;
}
.checkin_logo_img {
  width: 15%;
}
.color_white {
  color: white;
}
.color_black {
  color: #000000;
}
.checkin .row {
  padding: 0.7rem 0;
}
.checkin li {
  border-top: 1px solid #e7e7e7;
  margin: 0 0.7rem;
}
.checkin li:first-child {
  border-top: none;
}
#page-checkin-carbinno .list-block input, #page-checkin-carbinno .list-block select {
  padding: 0;
}
#page-checkin-supplementary .list-block input, #page-checkin-supplementary .list-block select {
  padding: 0;
}
#page-checkin-payment .list-block input, #page-checkin-payment .list-block select {
  padding: 0;
}
.clear_pad {
  padding: 0;
}
.clear_margin {
  margin: 0;
}
.checkin .clear_margin_top {
  margin-top: 0;
}
.padding75 {
  padding: 0.75rem;
}
.checkin_title {
  font-size: 0.7rem;
}
.checkin_content {
  font-size: 0.85rem;
}
.checkin_ticket_title {
  font-size: 0.6rem;
}
.large_title {
  font-size: 1rem;
  font-weight: bold;
}
#page-checkin-payment .list-block .item-inner:after {
  height: 0;
}
.checkbox_on {
  display: inline-block;
  background: url(../img/checkbox-true.png) no-repeat;
  width: 0.85rem;
  height: 0.85rem;
  vertical-align:middle;
  background-size: contain;
}
.checkbox_off {
  display: inline-block;
  background: url(../img/checkbox-false.png) no-repeat;
  width: 0.85rem;
  height: 0.85rem;
  vertical-align:middle;
  background-size: contain;

}
.checkin_flow {
  position: relative;
}
.checkin .pad_top0 {
  padding-top: 0;
}
.checkin .pad_bottom0 {
  padding-bottom: 0;
}
.line_background {
  border-top:1px dotted #164bc4;
  position: absolute;
  width: 65%;
  top: 44%;
  left: 20%;
  z-index: 10;
}
.color_process_false {
  color: #235cde;
}
.img_ticket {
  width: 25%;
}
.checkin .buttons-tab {
  margin: 0 1.5rem;
}
.checkin .buttons_tab_creditcard {
  background:url(/assets/img/creditcard.png) no-repeat;
  background-size:100%;
}
.checkin .buttons_tab_depositcard {
  background:url(/assets/img/depositcard.png) no-repeat;
  background-size:100%;
}
.checkin .buttons-tab .btn_img {
  border-bottom：none;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: 0.7rem;
  padding-right: 0.7rem;
  color: #fff;
}
.checkin .buttons-tab:after {
  height: 0;
}
.checkin .buttons-tab .button.active {
  color: #000;
  border: none;
}
.padb5 {
  padding-bottom: 0.5rem;
}
.sail_pass {
  color: #000036;
}
.ticket_content {
  color: #000546;
}
.checkin_success {
  color: #fbb818;
  font-size: 1rem;
  padding-top: 0.5rem;
}
.checkin_time_note {
  color: #fbb818;
  padding: 0.85rem 0;
}
.img_ticket_success {
  width: 10%;
}
.checkin_tips {
  padding: 0.5rem 0;
}
.goback {
  padding: 0.7rem;
}
.goback a {
  color: #fbb818;
}
.deposit_card_note {
  padding-top: 1.75rem;
  color: #fbb818;
}
.sel_color {
  color: #0073bb;
}
.check_agreement {
  padding-top:0.45rem;
  padding-bottom:0.65rem;
}
.color_already_do {
  color: #999999;
}
.checkin .row.identifycode_bgcolor {
  background-color: #f5f5f5;
  padding: 0.7rem 0.7rem;
  margin: 0 -0.7rem;
}
.circle_right {
  height: 1rem;
  width: 0.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: #061556;
  margin-top: -0.5rem;
  margin-left: -0.75rem;
}
.circle_left {
  height: 1rem;
  width: 0.5rem;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: #061556;
  margin-top: -0.5rem;
  margin-right: -0.75rem;
}
.font2 {
  font-size: 2rem;
  line-height: 2rem;
}
.font1 {
  font-size: 1rem;
}
.img_barcode {
  width: 100%;
  height: 4rem;
}
.room_info {
  position: relative;
}
.checkin li.dashed_border_top {
  border-top: 1px dashed #e7e7e7;
}
.yellow_color {
  color: #fbb818;
}
.nodisplay {
  display: none;
}
.display {
  display: block;
}